.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  outline: none;
  border:none;
  border-bottom: 1px solid #2d2c2c ;
  padding: 5px;
  height: 40px;
  outline: none;
  color: #2d2c2c;
  font-size:28px;
  font-family: 'Montserrat';
  letter-spacing: 1px;
}

.searchTerm:focus{
  color: #000;
}

.searchButton {
  width: 47px;
  height: 43px;
  border:0px;
  text-align: center;
  color: #2d2c2c;
  background-color: white;
  cursor: pointer;
  font-size: 28px;
  margin-top:10px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 60%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* close button */
.close {
  background: #fff;
  width: 25px;
  height: 25px;
  position: relative;
}
.close:after {
  content: '';
  height: 25px;
  border-left: 2px solid #000;
  position: absolute;
  transform: rotate(45deg);
  left: 12px;
}

.close:before {
  content: '';
  height: 25px;
  border-left: 2px solid #000;
  position: absolute;
  transform: rotate(-45deg);
  left: 12px;
}