.container{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    margin: 10px auto;
    background-color:#fff;
}
.row{
    width:100%;
}
.left{
    float:left;
    width:50%;
}
.right{
    float:right;
    
}
.error_right{
  float:left;
}

.submit{
  float:right;
  margin-top:10px;

}

.text_box {
	position:relative;
	margin: 10px 0;
}

.icon {
  position: absolute;
  right: 15px;
  top: 17px;
}

label {
	background-color:#fff;
	position:absolute;
	top:0;
	left:0;
	font-weight:500;
	margin:10px;
	padding:5px;
	color:#000;
	font-size:15px;
	text-transform:uppercase;
	letter-spacing:1px;
	-webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

label.active {
  top: -25px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 6px;
  text-transform: uppercase;
}

input.test[type=text] {
	width:100%;
	background-color:transparent;
	box-shadow:none;
	padding:20px 0;
	border: 2px solid #000;
	color:blue;
	text-indent: 20px;
}
input[type=password] {
	width:100%;
	background-color:transparent;
	box-shadow:none;
	padding:20px 0;
	border: 1px solid #000;
	color:#000;
	text-indent: 20px;
}
input[type=date] {
	background-color:transparent;
	box-shadow:none;
	padding:20px 0;
	border: 2px solid #000;
	color:#000;
	text-indent: 10px;
  width: 100%;
}

[type="date"] {
  background:#fff url('src/assets/calendar_2.png')  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

input[type=text]:focus {
  outline: none;
}


@media only screen and (max-width: 600px) {
	label.active {font-size:12px;top:-25px;}
}

/* --- */

.floating_input  {
    font-size:14px;
    padding:10px 10px 10px 10px;
    display:block;
    width:100%;
    height:50px;
    color:#000;
    background-color: transparent;
    border:1px solid #000;
    cursor:default;
}
.floating_input.error{
  border:1px solid red;
}

.highlight {
    position:absolute;
    height:50%; 
    width:100%; 
    top:15%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
}
.floating_input:focus   {
    outline:none;
    border:1px solid #000; 
}

.floating_input:focus ~ .lab1  {
    top:-20px;
    font-size:14px;
    color:#5264AE;
}


/*
label.lab1 {
    color:#999; 
    font-size:14px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:5px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }

  .label_date{
    position:relative;
    width:150px;
    background-color: red;
    z-index:10001;
    margin-top:-500px;
   
  }

  label {
    font-size: 16px;
    position: absolute;
    transform-origin: top left;
    transform: translate(0, 16px) scale(1);
    transition: all .1s ease-in-out;
  }
  */

  input_field {
    padding: 8px 12px;
    border: 1px solid gray;
    position: relative;
    background: transparent;
    padding: 12px 24px;
    border-radius: 8px;
    width:100%;
}

.input_field.short {
    width: 120px;
}

.input-field.medium {
    width: 250px;
}

.input-field.long {
    width: 400px;
}

