ul {
  list-style: none;
  margin: 0;

}

/* Responsive image gallery rules begin*/

.image_gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 0px;
  width: 100%
    /* don't add a fixed height 
    height: 250px;*/
}

.image_gallery>li {
  /*flex-basis: 250px; width: 350px;*/
  margin-left: 0;
  position: relative;
  cursor: pointer;
}

.image_gallery::after {
  content: "";
  flex-basis: 250px;
}

.image_gallery li img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: 0px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(57, 57, 57, 0.502);
  top: 0;
  left: 0;
  transform: scale(0);
  transition: all 0.2s 0.1s ease-in-out;
  color: #fff;
  border-radius: 5px;
  /* center overlay text */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* hover */
.image_gallery li:hover .overlay {
  transform: scale(1);
}

.container {

  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.img1 {
  width: 90%;
  height: auto;
  margin: 0px;
  padding: 0px;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;


}


.img2 {
  margin: 10px;
  max-width: 100%;
  max-height: 100%;


}

.text_block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  font-size:20px;
  animation: fadeIn 5s;
}
.con1{
  position: relative;
}
.underline{
  color:white;
}
.underline:hover{
  text-decoration: underline 0.15em rgba(255, 255, 255, 1);
 
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}