.wrapper {
    font-size: 14px;
	width:100%;
	padding-right:10px;
	font-family: 'Montserrat';
}

.menu  {
	list-style-type: none;
	overflow: hidden;

  }
  
  .menu li {
	 float: right;
	
  }
  .menu li a {
	display: block;
	color: black;
	text-align: center;
	padding: 5px;
	text-decoration: none;
  }
