.container {
  width: 100vw;
  color:#fff;
  z-index:50;
}
.escape{
  font-size: 2.0rem;
  font-weight: 100;
  letter-spacing: 2px;
  line-height: 20px;
  font-family:'Poppins',  sans-serif;
}

.brand_name{
  font-family: 'Montserrat';
  color: #f1f2f6;
  font-size: 40px;
  font-weight: bold;
}

