.container {
  width: 100vw;
  color:#fff;
  font-size:48px;
  z-index:1000;
}
.escape{
  font-size: 3.5rem;
  font-weight: 100;
  letter-spacing: -3px;
  line-height: 45px;
  font-family: 'Poppins', sans-serif;
}

.brand_name{
  font-family: 'Montserrat';
  color: #f1f2f6;
  font-size: 40px;
  font-weight: bold;
}

