.container{
    display: flex;
  justify-content: center;
}
.link{
    font-size:25px;
    font-family:sans-serif;
    text-align:center;
    padding:50px 0px;
    font-weight:700; 
  }
  .link a{
    padding:30px;
    text-decoration:none;
    color:#999;
    position:relative;
    transition:all 0.4s ease;
  }
  .link a::before,
  .link a::after{
    height:20px;
    width:20px;
    position:absolute;
    transition:all .35s ease;
    opacity:0;
  }
  .link a::before{
    content:'';
    top:0;
    right:0;
    border-top:7px solid #3E8914;
    border-right:7px solid #2E640F;
    transform:translate(-100%, 50%);
  }
  .link a::after{
    content:'';
    left:0;
    bottom:0;
    border-bottom:7px solid #2E640F;
    border-left:7px solid #3E8914;
    transform:translate(100%, -50%);
    
  }
  .link a:hover:before,
  .link a:hover:after{
    transform:translate(0,0);
    opacity:1;
  }
  .link a:hover{
    color:#3DA35D;
  }