.dropdown {
    position: relative;
    float:right;
    margin-right:10px;
}
.dropbtn {
    background-color: #fff;
    color: #000;
    padding: 0;
    border:none;
    letter-spacing: 3px;
    font-family: 'Montserrat';
    font-weight:700;
    font-size:1.2rem;
    margin-top:3px;
    margin-left: auto;
    margin-right: auto;
    border:0px;
    width:220px;
  }
 
  
 
.dropdown_content {
    position:relative;
    display: none;
    color:#fff;
    background-color: #000;
    border: 0px solid #000;
    min-width: 160px;
    z-index: 1;
  }
  .dropdown_content:before {
    content: "";
    vertical-align: middle;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #000;
  }

.dropdown_content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown_content a:hover {
    background-color: #000;
    text-decoration: underline;
}

  

.dropdown:hover .dropdown_content {
    display: block;
    margin-top: 20px;
    margin-left:-30px;
   
}
.dropdown:hover > .dropbtn{
    border-bottom: 2px solid #000;
    
    
}




.arrow {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 2px;
    margin-top:10px;
    
}

.updown {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin:5px 15px 5px 10px;
}

.dropdown:hover>.dropbtn .updown {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
     margin:5px 15px 5px 10px;
     
}


.link{
    height:20px;
    line-height:20px;
}

