.underLink{
    display: inline-block;
    position: relative;
    font-size:18px;
    color: #000;
}
.underLink:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.30s ease-out;
}

.underLink:hover:after{
  transform: scaleX(1);
  transform-origin: bottom left;
}
.treeViewContainer {
    margin: 0;
    padding: 0;
    padding-left: 15px;
    font-size:18px;
    cursor: default;
  }
  
  .treeViewContainer .label {
    margin-bottom: 5px;
    text-transform: uppercase;
  }
  
  .treeViewContainer .label .treeviewIcon {
    position: relative;
    left: -8px;
  }
  
  .subTreeView {
    padding-left: 10px;
    border-left: 0px solid black;
  }
  .cross{
    font-size: 20px;
  }
  