/* RESET RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.l_container {
  max-width: 1200px;
  margin: 0 auto;
}

.p_container {
  display:inline;
  /*display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "breadcrumb_view  breadcrumb_view "
    "left_view right_view"
    "product_content product_content";
  */
}
.breadcrumb{
  display: flex;
  width:100%;
}

 .breadcrumb_view {
  /*grid-area: breadcrumb_view;
  text-align: left;*/
  float:left;
  width:50%;

}

.product_filter_menu{
  float:right;
  width:50%;
}

.breadcrumb_row {
  display: flex;
  margin: 0px;
}

.right_view {
  grid-area: right_view;
  text-align: right;
  padding: 5px;
}

.right_view i {
  cursor: pointer;
}

.right_view i.selected {
  color: #ef0000;
}

.left_view {
  grid-area: left_view;
  text-align: left;
  color: black;
  margin: 10px auto 20px auto;
}

.product_content {
  grid-area: product_content;
  font-size: 20px;
}

/* LIST VIEW GRID VIEW
__________________________________________________*/
.filter_buttons {
  display: flex;
  margin-right: 10px;
  float: right;
}

.list_view_button,
.grid_view_button {
  color: black;
  border: 1px solid black;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 3px;
}

.list_view_button:hover,
.grid_view_button:hover {
  background: white;
  color: #0e2439;
}

.list_view_button {
  margin-right: 10px;
}


/* products view
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.product_view_root{
  display:flex;
  align-items: center;
  flex-wrap: wrap;
}
.product_card {
  width: 205px; height: 325px;
  position: relative;
  border: 1px solid #BBB;
  background: #EEE;
  
}

@media only screen and (max-width: 480px) {
.product_card {
  width: 200px; height: 325px;
  position: relative;
  border: 1px solid #BBB;
  background: #EEE;
 
}
}

.spacing {
  margin: 10px;
}

.product_thumb {
  display: flex;
  align-items: center;
  justify-content:center;
  height: 200px;
  padding: 50px;
  background: #EAD6CD;
}

.product_thumb img {
  max-width: 100%;
  max-height: 100%;
}

.product_details {
  padding: 5px;
}

.product_category {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #9DAAF2;
  margin-bottom: 0px;
}

.product_header{
  font-size:10px;
  display:inline;

}
.product_header_star{
  float:right;
  margin-right:0px;
}

.product_desc{
  font-size:10px;
  margin:0px;
}

.product_details a {
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #00ABE1;
  text-decoration: none;
  transition: 0.3s;
}

.product_details  a:hover {
  color: #F52544;
}

.product_bottom_details {
  overflow: hidden;
  padding-top: 0px;
}

.product_bottom_details div {
  float: left;
  width: 50%;
}

.product_price {
  font-size: 18px;
  color: #F52544;
  font-weight: 600;
  margin-top: 5px;
}

.product_price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  margin-right: 5px;
}

.product_links {
  text-align: right;
  margin-top: 5px;
}

.product_links a {
  display: inline-block;
  margin-left: 5px;
  color: #5CE0D8;
  transition: 0.3s;
  font-size: 17px;
}

.product_links a:hover {
  color: #F52544;
}
.dis_ribbon {
  position: absolute;
  right: -4px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.dis_ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#9BC90D 0%, #79A70A 100%);
  box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -23px;
}
.dis_ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #79A70A;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}
.dis_ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #79A70A;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}
.product_view_section{
  display: flex;
 
}




