input::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.wrapper{
    background-color: red;
    width:80%;
}
.form {
  position: relative;
  width: 15rem;
  height: 1.5rem;
  margin-top:20px;
  display:inline-block;
}
.form_input {
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    font-family: inherit;
    font-size: inherit;
    color: #000;
    outline: none;
    padding: 1.25rem;
    background: url('~/dist/public/assets/images/crossmark.png');
    background-repeat: no-repeat;
    background-position: 210px 10px;
    
  }
  
  .form_input:hover {
    border-color: #000;
  }
  
  .form_input:focus {
    border-color: #000;
  }
  
  .form_label {
    position: absolute;
    color: #000;
    left: 1rem;
    top: 1.5rem;
    padding: 0 0.5rem;
    cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    background-color: #fff;
    font-size: 0.8rem;
  }
  
  .form_input:focus ~ .form_label,
  .form_input:not(:placeholder-shown).form_input:not(:focus) ~ .form_label {
    top: 0.5rem;
    font-size: 0.8rem;
    left: 0.8rem;
  }
  .line{
    width:100%;
    border-bottom: 1px solid #ccc;
    padding-top:30px;
  }

  .err_msg{
    margin-top:15px;
    margin-left:10px;
    font-size: 12px;
    color:red;
  }
  .row{
    display: grid;
    grid-template-columns: 50% 50%;
    
  }
  .row_left{
    grid-column:1;
   
  }
  .row_right{
    grid-column:2;
  
   
  }
  .row1{
    width:100%;
    padding-top:50px;
  }

  .s_credit_card{
    float:right;
    top:0;
    display:flex;
    line-height: 48px;;
  }
  .left_credit_card_icons{
    float:left;
    margin-top:15px;
    display:flex;
    line-height: 48px;;
  }
  .arrows {
   float:right;
   top:0;
  }
  .button_name{
    padding-top:5px;
    padding-left:15px;
   
  }
  .a_button{
    color: white;
    width: 100%;
    font-size: 16px;
    background-color: #000; 
    display:inline-block;
    text-align:left;
    height:40px;
    padding-top:6px;
    padding-right:12px;
  }
  .b_button{
    color: #000;
    width: 100%;
    font-size: 16px;
    background-color: #fff; 
    display:inline-block;
    text-align:left;
    height:40px;
    padding-top:10px;
    padding-right:12px;
    border:1px solid #fff;
  }
  .c_button{
    margin-top:5px;
    color: #fff;
    width: 100%;
    font-size: 16px;
    background-color: #000; 
    display:inline-block;
    text-align:left;
    height:43px;
    padding-top:10px;
    padding-right:13px;
    border:1px solid #000;
  }
  .input_wrapper{
    display:flex;
    position:relative;
    width:100%;
    margin-top:0px;
    margin-bottom:30px;
  }
  .checkbox_wrapper{
    display:flex;
    position:relative;
    width:100%;
    margin-top:10px;
    margin-bottom:0px;
  }
  .left{
    float:left;
    display:inline;
    height: 50px;
    position:relative;
    top:0px;
  
  }
  .right{
    float:right;
    display:inline;
    height:50px;
  }
.checkbox_label {
  display: flex;
  align-items: baseline; 
}
input[type=checkbox]:checked:before {

	color: black !important;
}
.checkbox_input{
  -moz-appearance:none;
	-webkit-appearance:none;
	-o-appearance:none;
	outline: none;
	content: none;	
  
}

.checkbox_input::before {
	  
    content: "\2714";
    font-size: 24px;
    color: transparent !important;
    background: #ffffff;
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    margin-right: 5px;
    margin-top:10px;
    line-height: 28px;
    text-align: center;
    align-items: center;
    align-content: top;
}


.payment_header{
  height:20px;
  vertical-align: middle;

}
.ssl{
  margin-left:10px;
}
.delivery_details{
  padding:10px;
  font-weight:none;
  font-size:12px;
}
.paypal_box{
  width:64px;

  text-align: center;

 line-height: 10px;  
  border:1px solid #ccc;
  
}
.top{
  top:0;
}
/* payment input */
.container1{
  width:100%;
  height:100vh;
  position:relative;

}
.box{
  position:relative;
  top:0%;
  left:0%;
  width:100%;
 
  padding:20px 10px;

}
.input_box{
  display:flex;
  width:100%;
  border-width:0px 0px 2px 0px;
  border-style: solid;

}

.input_box input{
  width:50%;
  font-size:14px;
  padding: 6px 0px;
}
.img{
  float:left;
}
.credit_card_content{
  display:relative;
  padding:5px;
  border-bottom:1px solid #ccc;
  width:100%;
  background-color: red;
  overflow:auto;
  height:auto;
  height:auto;
min-height:250px;
height:auto !important;        /* for IE as it does not support min-height */
height:250px;    
}

.payment_content{
  display:relative;
  padding:5px;
  border-bottom:1px solid #ccc;
  width:100%;
  height:100%;
}
.afterpay_content{
  display:relative;
  padding:5px;
  border-bottom:1px solid #ccc;
  width:100%;
  height:100%;
}
.content1{
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  color:#000;
  border:1px solid red;
}
.white_paypal{
  position: relative;
  left:50%;
}
.right_header_content{
  display:inline-block;
  margin-top: 25px;
  width:100%;
  margin-bottom:25px;
  font-weight: bold;
  margin-left:5px;
}
.right_content{
  display:inline-block;
  width:100%;
  font-weight: bold;
  margin-left:5px;
  margin-bottom:15x;
}
.content_left{
  float:left;
}
.content_right{
  float:right;
}
.gst{
  margin-top: -5px;
  font-size:0.7em;
  margin-left:5px;
}
.promo_code{
  margin-top:25px;
  margin-left:5px
}


/* check box */
label > input[type="checkbox"] {
  display: none;
}

label > input[type="checkbox"] + span::before {
    content: " ";
    width: 20pt;
    height: 20pt;
    border-radius: 10%;
    border-style: solid;
    border-width: 0.1rem;
    border-color: gray;
    line-height: 28px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
} 

label > input[type="checkbox"]:checked + span::before {
 content: '\2714';
}
ul.ulMessage{
  margin-top:0px;
  font-size:10px;
}

ul.ulMessage > li{
  list-style:square !important;
  margin-left: 2em;
  color:red;
  padding-bottom:0.5em;
}
  